<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
<!--作用：父组件对子组件的模版内容进行加工处理-->
    <div id="app">
        <fruit-list :list='list'>
            <template slot-scope='slotProps'>
                <!--slotProps.info指的就是<slot :info='item'> 每一个item-->
                <strong v-if='slotProps.info.id==3' class="current">{{slotProps.info.name}}</strong>
                <span v-else>{{slotProps.info.name}}</span>
            </template>
        </fruit-list>
    </div>

    <script type="text/javascript">
        Vue.component('fruit-list', {  //子组件
            props: ['list'], //父组件将data中的list传给子组件，子组件通过props接收。
            template: `
              <div>
                <li :key='item.id' v-for='item in list'>
                  <slot :info='item'>{{item.name}}</slot>
                </li>
              </div>
            `
        });
        var vm = new Vue({
            el: '#app',
            data: {
                list: [{
                        id: 1,
                        name: 'apple'
                    },{
                        id: 2,
                        name: 'orange'
                    },{
                        id: 3,
                        name: 'banana'
                    }]
                 }
        });
    </script>
</body>

</html>