<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

    <div id="app">
        <ul>
            <!--将list中能被2整除的元素显示出来-->
            <li v-if="item%2==0" v-for="item in list">{{item}}</li>
        </ul>
    </div>

    <script type="text/javascript">
        new Vue({
            el: "#app",
            data: {
              list : [1,2,3,4,5,6,7,8,9]
            },
            methods : {

            }
        });
    </script>




</body>
</html>