<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!--
            1、 两个单选框需要同时通过v-model 双向绑定 一个值
            2、 每一个单选框必须要有value属性 且value 值不能一样
            3、 当某一个单选框选中的时候 v-model 会将当前的 value值 改变 data 中的 数据
            gender 的值就是选中的值，我们只需要实时监控他的值就可以了
            -->
        <input type="radio" id="male" value="one" v-model='gender'>
        <label for="male">男</label>

        <input type="radio" id="female" value="two" v-model='gender'>
        <label for="female">女</label>
        <br>
        <span>选中了：{{gender}}</span>
    </div>

    <script>
        new Vue({
            el : "#app",
            data: {
                // 默认会让当前的 value 值为 one 的单选框选中
                gender: 'one',
            },
        })
    </script>


</body>
</html>